    header {
      text-align: center;
      background: url("https://68.media.tumblr.com/2dfc3369827df9b981e111d7fd8fc732/tumblr_mvemcyarmn1rslphyo1_400.gif" );
      background-size: cover;
      color: white;
    }
    .nav {
      color: violet;
    }
    
 h1{
   font-size: 70px;
   font-family: "Courier New";
   color: blue;
  
 }
 body{
   background: url("https://68.media.tumblr.com/2dfc3369827df9b981e111d7fd8fc732/tumblr_mvemcyarmn1rslphyo1_400.gif" );
 }

 
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      font-family: "Courier New";
   
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      background: blue;
  
    }
    div{
      max-width: 500px;
      padding: 30px;
      margin: 0 auto;
      font-family: "Courier New";
      background: pink;
    }
     @media (max-width: 5000x){
     
      li {
        padding: 10px;
        display: block;
      }
    }
    