body{
    background: url("https://img.buzzfeed.com/buzzfeed-static/static/2013-09/enhanced/webdr06/26/18/anigif_original-grid-image-23494-1380234832-3.gif");
}
body{
    font-family: "Copperplate";
    color: white;
    
}